Package: enlightns-cli
Version: 0.0.21
Architecture: all
Maintainer: Dominick Rivard <support@enlightns.com>
Installed-Size: 25866
Pre-Depends: dpkg (>= 1.16.1), python2.7-minimal | python2.6-minimal
Section: python
Priority: extra
Description: EnlightNS.com Command Line Interface.
 EnlightNS.com Command Line Interface.
